@media (max-width: 768px){
  .small-devices-responsive{
    display: inline-block;
  }
  
}
.btn-img{
  width: 15%;
}
.btn-style{
  background-color: rgb(65, 67, 226);
  padding: 5px;
  width: 110px;
  border-radius: 5px;
}
.about-sec-img{
  width:15%;
}
.product-sec-img{
  width: 80%;
}
